/* slider styles */
.caption {
    width: 100%;

}

.sliderContainer {
    padding: 15px;
}

.sliderContainer img{
    border-radius: 8px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
    display: none;
}